body{
    background-image: linear-gradient(#8EE4AF, #379683);
    font-family: 'Montserrat', sans-serif;
    color: #05386B;
    padding: 0% 10%;
    margin: auto;
}

a{
    font-size: 2em;
    margin: auto;
    text-decoration: none;
    color: #05386B;
}

h2, h3{
    text-align: center;
}

h1{
    font-size: 4.5em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 1.5em;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    margin: auto 0px;
    padding-bottom: 25px;  
    left: 50%;    
}

#button_container{
    display: flex;
    justify-content: center;
}

#nav{
    text-align: center;
    padding: 10px;
    margin: 0px;
}

#about_box{
    background-color: #379683;
    border-radius: 12.5px;
    padding: 2.5%;
    margin: 10px auto;
    width: 50%;
}

#about_box p{
    font-size: 1.5em;
}

#resume_container h3{
    padding: 2.5%;
    margin: 2.5% auto;
    margin-bottom: 15px;
    width: 70%;
}

.resume_entry{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 50px;
}

.resume_entry.reverse{
    flex-direction: row-reverse;
    justify-content: right;
}
  
.resume_img{
    width: 250px;
    height: 250px;
    flex-basis: 25%;
    border-radius: 50%;
    vertical-align: middle;
}
  
.resume_text {
    font-size: 25px;
    flex-direction: column;
    padding-left: 20px;
}

.resume_text p{
    font-size: 20px;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

a:hover{
    text-decoration: underline;
}